<div class="search-flights">
  <%= form_with url: '/flights', method: 'GET' do |form| %>
    <div class="b-search">
      <%= form.select :departure_code, options_for_select(@flight_options, params[:departure_code]) %>
      <%= form.select :arrival_code, options_for_select(@flight_options, params[:arrival_code]) %>
      <%= form.select :num_tickets, options_for_select(1..4, params[:num_tickets]) %>
      <%= form.select :flight_date, options_for_select(@flight_dates, params[:flight_date]) %>
      <%= form.submit "Search" %>
    </div>
  <% end %>
</div>

<div class="b-results">
    <% if @results.nil? || @results.empty? -%>
         <p>No Flights</p>
    <% else -%>
    <%= form_with url: new_booking_path, method: 'GET' do |form| -%>
            <% @results.each do |flight| %>
            
            <div class="reservation-details">
                <%= form.radio_button :flight_id, flight.id %>
                <%= flight.departure_airport.airport_code %>
                <%= flight.departure_airport.city %>
                <%= flight.start_datetime.strftime("%d/%m/%Y %H:%M") %>
                <%= flight.flight_duration %>
                <%= flight.arrival_airport.airport_code %>
                <%= flight.arrival_airport.city %>
            </div>
                
            <% end -%>
            <%= hidden_field_tag :num_tickets, params[:num_tickets] %>
            <%= form.submit "Make a reservation" %>
        <% end -%>   
       
    <% end -%>

</div>
