<h2>Booking Information</h2>

<div class="booking-details">
  <h3>Selected Flight</h3>
  <p>
    <strong>From:</strong> <%= @flight.departure_airport.to_s %><br>
    <strong>To:</strong> <%= @flight.arrival_airport.to_s %><br>
    <strong>Date:</strong> <%= @flight.formatted_datetime %><br>
    <strong>Duration:</strong> <%= @flight.duration_in_hours_minutes %>
  </p>
  
  <h3>Passenger Information</h3>
  
  <%= form_with model: @booking, local: true do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>
    
    <% if @booking.errors.any? %>
      <div class="error">
        <h4><%= pluralize(@booking.errors.count, "error") %> prevented this booking from being saved:</h4>
        <ul>
          <% @booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <% @booking.passengers.each_with_index do |passenger, index| %>
      <div class="passenger-form">
        <h4>Passenger <%= index + 1 %></h4>
        <%= f.fields_for :passengers, passenger do |passenger_form| %>
          <div class="form-group">
            <%= passenger_form.label :name %>
            <%= passenger_form.text_field :name, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= passenger_form.label :email %>
            <%= passenger_form.email_field :email, class: 'form-control' %>
          </div>
        <% end %>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= f.submit "Create Booking", class: "btn" %>
    </div>
  <% end %>
</div>