<h2>Booking Information</h2>

<div class="booking-details">
  <h3>Selected Flight</h3>
  <p>
    <strong>From:</strong> <%= @flight.departure_airport.to_s %><br>
    <strong>To:</strong> <%= @flight.arrival_airport.to_s %><br>
    <strong>Date:</strong> <%= @flight.formatted_datetime %><br>
    <strong>Duration:</strong> <%= @flight.duration_in_hours_minutes %>
  </p>
  
  <h3>Passenger Information</h3>
  
  <%= form_with model: @booking, local: true do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>
    
    <% if @booking.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h4><%= pluralize(@booking.errors.count, "error") %> prevented this booking from being saved:</h4>
        <ul>
          <% @booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

     <div data-controller="passengers">
      <button class="btn btn-primary" type="button" data-action="click->passengers#add">Add another passenger</button>

  <div data-passengers-target="formContainer">
    <% @booking.passengers.each_with_index do |passenger, index| %>
      <div data-passengers-target="passengerForm" class="passenger-form">
        <h4>Passenger <%= index + 1 %></h4>
        <%= f.fields_for :passengers, passenger do |passenger_form| %>
          <div class="form-group">
            <%= passenger_form.label :name %>
            <%= passenger_form.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= passenger_form.label :email %>
            <%= passenger_form.email_field :email, class: 'form-control' %>
          </div>
        <% end %>
        <button data-action="click->passengers#remove" class="btn btn-danger">Remove passenger</button>
      </div>
    <% end %>
  </div>

  

  <template data-passengers-target="formTemplate">
  <div data-passengers-target="passengerForm" class="passenger-form" data-index="__INDEX__">
    <h4 data-passengers-target="output"></h4>
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="booking[passengers_attributes][__INDEX__][name]" class="form-control">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="booking[passengers_attributes][__INDEX__][email]" class="form-control">
    </div>
    <button class="btn btn-danger" type="button" data-action="click->passengers#remove">Remove passenger</button>
  </div>
</template>
</div>


    
    
    <div class="form-group">
      <%= f.submit "Create Booking", class: "btn btn-success" %>
    </div>
  <% end %>
</div>

